<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.3/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="2type_admin.css">
    <style>
        .ta-box {
            padding:2em;
        }
    </style>
</head>
<body>
<div id="app">
    <a-nav></a-nav>
     <div class="ta-box" >
        <el-breadcrumb separator="/" style="font-size:2em;margin-bottom: .5em;">
          <el-breadcrumb-item >列表</el-breadcrumb-item>
        </el-breadcrumb>
         <el-form :inline="true"  >
          <el-form-item label="用户名">
            <el-input v-model="list.search.username"></el-input>
          </el-form-item>
          <el-form-item label="类型" >
              <el-select v-model="list.search.kind" placeholder="请选择">
                <el-option
                  v-for="(item, i) in list.options"
                  :label="item.name"
                  :key="i"
                  :value="String(item.id)">
                </el-option>
              </el-select>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="LIST(list.search)">查询</el-button>
          </el-form-item>
        </el-form>
         <el-table
        :data="list.data"
        style="width: 100%">
        <el-table-column
          label="日期"
          width="180">
          <template slot-scope="scope">
            {{scope.row.createdAt}}
          </template>
        </el-table-column>
        <el-table-column
          label="姓名"
          width="180">
          <template slot-scope="scope">
            <el-popover trigger="hover" placement="top">
              <p>id: {{ scope.row.id }}</p>
              <p>views: {{ scope.row.views }}</p>
              <div slot="reference" class="name-wrapper">
                <el-tag size="medium">{{ scope.row.title }}</el-tag>
              </div>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button size="mini" @click="JUMP('/admin/form_template.html?formKind=create&id=' + scope.row.id)" >编辑</el-button>
            <el-button
                size="mini"
                type="danger"
                @click="deleteItem(scope.row.id)"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
         <el-pagination
          :total="list.total"
          :current-page="Number(list.search.page)"
          @current-change="LIST(list.search, $event)"
          :page-size="10"
          style="text-align: center;padding:1em;"
          background
          layout="prev, pager, next"
         >
        </el-pagination>
     </div>

    <div class="ta-box">
        <el-breadcrumb separator="/" style="font-size:2em;margin-bottom: .5em;">
          <el-breadcrumb-item >
              <span v-if="form.kind=='create'">创建</span>
              <span v-if="form.kind=='update'">编辑</span>
          </el-breadcrumb-item>
        </el-breadcrumb>
        <el-form label-width="80px" >
          <el-form-item label="用户名" style="width:25em;">
            <el-input v-model="list.search.username"></el-input>
          </el-form-item>
          <el-form-item label="类型" >
              <el-select v-model="list.search.kind" placeholder="请选择" style="width:23em;" >
                <el-option
                  v-for="(item, i) in list.options"
                  :label="item.name"
                  :key="i"
                  :value="String(item.id)">
                </el-option>
              </el-select>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="SUBMIT(form.data)">
                <span v-if="form.kind=='create'">创建</span>
                <span v-if="form.kind=='update'">编辑</span>
            </el-button>
          </el-form-item>
        </el-form>
    </div>
</div>

<script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui@2.15.1/lib/index.js"></script>
<script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>
<script>
window.TA = {}
</script>
<script type="module" src="2type_admin.js" ></script>
<script>
window.__RENDER_DATA = {
    list: {
         options: [{
          id: 1,
          name: '黄金糕'
        }, {
          id: 2,
          name: '双皮奶'
        }, {
          id: 3,
          name: '蚵仔煎'
        }],
        data: [{"createdAt":"1967-04-26T11:15:11Z","id":1,"published":true,"title":"KAUbizGkTS","views":85},{"createdAt":"1919-05-02T14:18:49Z","id":2,"published":false,"title":"vXewRPMqLP","views":17},{"createdAt":"1937-07-12T16:43:33Z","id":3,"published":true,"title":"pNUprTccdh","views":96}],
        total: 100,
    },
    form: {
        options: {},
        data: {
            id: 1,
            name: "nimo",
            like: null,
        },
    }
}
</script>
<script type="module" >
import Nav from "./com/nav/index.js"
Vue.component(Nav.name, Nav)
import TaUploadPhoto from "./2type/upload/index.js"
Vue.component(TaUploadPhoto.name, TaUploadPhoto)
const vm = new Vue({
    el: "#app",
    data: function () {
        const out = {
            ...__RENDER_DATA,
        }
        out.list.search = TA.QUERY() // 列表页不要删除这行代码
        out.form.kind = TA.QUERY().formKind // 表单页不要删除这行代码
        return out
    },
    methods: {
        ...TA.methods,

        deleteItem(deleteID) {
            const vm = this
            TA.REQ({
                method: 'get',
                url: 'https://mockend.com/goclub/http/post/1',
                data: {
                    id: deleteID,
                },
                $LoadingText: '删除中..',
            }, function () {
                vm.list.data = vm.list.data.filter(function (item) {
                    console.log(item.id, deleteID)
                    return item.id == deleteID
                })
            })
        },
    },
})
</script>
</body>
</html>