<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://unpkg.nimo.run/element-ui@2.15.3/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/admin/2type/admin.css">
    <link rel="stylesheet" href="/admin/project.css">
</head>
<body>
<div id="ta-app" style="display: none">
    [[block main()]][[end]]
</div>
<script src="https://unpkg.nimo.run/vue@2.6.12/dist/vue.js"></script>
<script src="https://unpkg.nimo.run/element-ui@2.15.1/lib/index.js"></script>
<script src="https://unpkg.nimo.run/axios@0.21.1/dist/axios.min.js"></script>
<script type="module" src="/admin/2type/admin.js" ></script>
<script type="module" src="/admin/project.js" ></script>
[[block script()]][[end]]
</body>
</html>