[[extends "./layout/page.html"]]
[[block main()]]
<ta-page :header="header">
    <ta-box title="概览">
        <table class="ta-overview">
            <thead>
            <tr>
                <th>{{sum.pv}}</th>
                <th style="color:#67C23A;">{{sum.uv}}</th>
                <th style="color:#E6A23C;">{{sum.earnings}}</th>
                <th style="color:#909399;">{{sum.clients}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>PV</td>
                <td>UV</td>
                <td>收益</td>
                <td>客户数</td>
            </tr>
            </tbody>
        </table>
    </ta-box>
    <el-row :gutter="20">
        <el-col :span="12">
            <ta-box title="销量">
                <!-- 使用 ref 配合渲染图表 -->
                <div ref="g2ChartNode" style="width:100%;height:300px" ></div>
            </ta-box>
        </el-col>
        <el-col :span="12">
            <ta-box title="推广统计">
                <!-- 使用 ref 配合渲染图表 -->
                <div ref="saleChartNode" style="height:300px" ></div>
            </ta-box>
        </el-col>
        <el-col :span="12">
            <ta-box title="Top5 客户">
                <el-table
                        :data="top5Client"
                        style="width: 100%">
                    <el-table-column
                            prop="order"
                            label="排名"
                            width="100">
                        <template slot-scope="scope">
                            {{scope.$index+1}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="客户名"
                            width="180">
                        <template slot-scope="scope">
                            <el-image
                                    style="width: 30px; height: 30px;border-radius:50%;margin-bottom:-.4em;"
                                    :src="scope.row.logo"
                                    fit="contain"></el-image>
                            </div>
                            {{scope.row.name}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="sale"
                            label="销售额">
                    </el-table-column>
                </el-table>
            </ta-box>
        </el-col>
        <el-col :span="12">
            <ta-box title="Top5 员工">
                <el-table
                        :data="top5staff"
                        style="width: 100%">
                    <el-table-column
                            prop="order"
                            label="排名"
                            width="100">
                        <template slot-scope="scope">
                            {{scope.$index+1}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="员工名"
                            width="180">
                        <template slot-scope="scope">
                            <el-image
                                    style="width: 30px; height: 30px;border-radius:50%;margin-bottom:-.4em;"
                                    :src="scope.row.avatar"
                                    fit="contain"></el-image>
                            </div>
                            {{scope.row.name}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="sale"
                            label="销售额">
                    </el-table-column>
                </el-table>
            </ta-box>
        </el-col>
    </el-row>
</ta-page>
[[end]]
[[block script()]]
<script>
    window.__RENDER_DATA = {
        sum: {
            pv: 21451,
            uv: 51234,
            earnings:15124,
            clients: 2441,
        },
        top5Client: [
            {
                name: "可口可乐",
                logo: "https://picsum.photos/id/11/100/100",
                sale: 102314
            },
            {
                name: "百事可乐",
                logo: "https://picsum.photos/id/12/100/100",
                sale: 82414
            },
            {
                name: "百岁山",
                logo: "https://picsum.photos/id/13/100/100",
                sale: 72412
            },
            {
                name: "康师傅",
                logo: "https://picsum.photos/id/14/100/100",
                sale: 52351
            },
            {
                name: "李施德林",
                logo: "https://picsum.photos/id/15/100/100",
                sale: 3251
            }
        ],
        top5staff: [
            {
                avatar: "https://i.pravatar.cc/100?img=1",
                name: "法外狂徒张三",
                sale: 41512
            },
            {
                avatar: "https://i.pravatar.cc/100?img=2",
                name: "尼古拉斯赵四",
                sale: 40021
            },
            {
                avatar: "https://i.pravatar.cc/100?img=3",
                name: "大刀王五",
                sale: 3425
            },
            {
                avatar: "https://i.pravatar.cc/100?img=4",
                name: "独眼龙老六",
                sale: 31224
            },
            {
                avatar: "https://i.pravatar.cc/100?img=5",
                name: "小瘸子刘七",
                sale: 28983
            }
        ]
    }
</script>
<script type="module" >
    import { Chart } from 'https://cdn.skypack.dev/@antv/g2@v4.1.27'
    import * as echarts from "https://cdn.skypack.dev/echarts@5.2.1"
    const header = [
        {
            title: "首页",
            url: "",
        },
    ]
    const vm = new Vue({
        components: {},
        el: "#ta-app",
        data: function () {
            const out = {
                ...__RENDER_DATA,
                header: header,
            }
            return out
        },
        created() {
            const vm = this
            // 务必延迟渲染
            setTimeout(function (){
                // 使用前请确保 <script type="module" > 起始处引用了
                // import * as echarts from "https://cdn.skypack.dev/echarts@5.2.1"
                var chart = echarts.init(vm.$refs.saleChartNode);
                // 配置参考 https://echarts.apache.org/examples/zh/editor.html?c=line-stack
                const option = {tooltip: {trigger: 'axis'}, grid: {left: '3%', right: '4%', bottom: '3%', containLabel: true }, xAxis: {type: 'category', boundaryGap: false, data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'] }, yAxis: {type: 'value'}, series: [{name: '邮件', type: 'line', stack: 'Total', data: [120, 132, 101, 134, 90, 230, 210] }, {name: '广告', type: 'line', stack: 'Total', data: [220, 182, 191, 234, 290, 330, 310] }, {name: '视频', type: 'line', stack: 'Total', data: [150, 232, 201, 154, 190, 330, 410] }, {name: '短信', type: 'line', stack: 'Total', data: [320, 332, 301, 334, 390, 330, 320] }, {name: '搜索引擎', type: 'line', stack: 'Total', data: [820, 932, 901, 934, 1290, 1330, 1320] } ] };
                chart.setOption(option);
                window.onresize = function() {
                    chart.resize();
                };
                window.onresize()
            }, 1000)
            // 务必延迟渲染
            setTimeout(function (){
                // 使用前请确保 <script type="module" > 起始处引用了
                // import { Chart } from 'https://cdn.skypack.dev/@antv/g2@v4.1.27'

                // 配置参考https://g2.antv.vision/zh/docs/manual/getting-started
                const data = [{"Data": "2017-01", "sales": 1145}, {"Data": "2017-02", "sales": 1244}, {"Data": "2018-03", "sales": 1745 }, {"Data": "2018-04", "sales": 1680}, {"Data": "2018-05", "sales": 1802}, {"Data": "2018-06", "sales": 1697 }, {"Data": "2018-07", "sales": 1583}, {"Data": "2018-08", "sales": 1556}, {"Data": "2018-09", "sales": 1824 }, {"Data": "2018-10", "sales": 2398}, {"Data": "2018-11", "sales": 2278}, {"Data": "2018-12", "sales": 2695 }]
                const chart = new Chart({
                    container: vm.$refs.g2ChartNode,
                    autoFit: true,
                    height: 500,
                });
                chart.data(data);
                chart.scale('Data', {
                    range: [0, 1],
                    tickCount: 10,
                    type: 'timeCat'
                });
                chart.scale('sales', {
                    nice: true,
                });
                chart.axis('sales', {
                    label: {
                        formatter: text => {
                            return text.replace(/(\d)(?=(?:\d{3})+$)/g, '$1,');
                        }
                    }
                });
                chart.tooltip({
                    showCrosshairs: true,
                });

                chart.line().position('Data*sales');
                chart.area().position('Data*sales');
                chart.render();
            }, 1000)
        },
        methods: {
            ...TA.m,
        },
        computed:{

        }
    })
</script>
<style>

</style>
[[end]]