[[extends "./layout/mobile.html"]]
[[block main()]]
<ta-mobile :tabber="true">
    <router-view></router-view>
</ta-mobile>
[[end]]
[[block script()]]
<script>
    window.__RENDER_DATA = {}
</script>
<script type="module" >
    import PageHome from "/public/res/page/home/index.js"
    import PageGame from "/public/res/page/game/index.js"
    import PageUser from "/public/res/page/user/index.js"
    import PageSku from "/public/res/page/sku/index.js"
    import store from "/public/res/store/index.js"
    const vm = new Vue({
        store: store,
        router: new VueRouter({
            routes: [
                { path: '/', component: PageHome },
                { path: "/game", component: PageGame},
                { path: "/user", component: PageUser},
                { path: "/sku", component: PageSku},
            ]
        }),
        el: "#ta-app",
        data: function () {
            const out = {
                ...__RENDER_DATA,
            }
            return out
        },
        methods: {
            ...TA.m,
        },
    })
</script>
<style>

</style>
[[end]]